.root {
	display: inline-block;
	vertical-align: middle;
}

.speed {
}

.speed :global .param__units {
	vertical-align: -0.5em;
	font-size: 0.75em;
}

.wind {
	display: inline-block;
	vertical-align: 0.5em;
	margin-left: -2.2em;
	font-size: 0.75em;
}

.degree {
	display: inline-block;
	opacity: 0.5;
	font-family: Monaco, 'Courier New', monospace;
	font-size: 2.1em;
	width: 1em;
	height: 1em;
	line-height: 1;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

.degree::after {
	content: '➔';
	transform: rotate(90deg);
	display: block;
	margin-left: -0.125em;
}

:global .wind__direction {
	display: inline-block;
	width: 2.6em;
	margin-left: -0.4em;
}
